@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.topLeft{
	position: absolute;
	top: 8px;
	left: 8px;
}

a {
	text-decoration: none;
	font-smooth: never;
}

.Da {
	color: #AAAAFF;
}
.Da:hover {
	color: #AADDDD;
}

.La {
	color: #11c;
}
.La:hover {
	color: #1aa;
}

th, td {
	border: 1px solid #666666;
	width: 100px;
	height: 30px;
	padding-left: 3px;
	margin: 0px;
	transition: background-color 0.2s;
}

.tableDesc {
	background-color: #DDEEDD;
}

th {
	background-color: #00FF0011;
	font-family: "Roboto Mono", monospace;
	font-size: 15px;
	font-optical-sizing: auto;
	font-style: normal;
}

tr {
	font-family: "Times New Roman", serif;
	font-size: 12px;
	transition: background-color 0.3s;
	background-color: #D0D0D0;
}
tr:hover {
	background-color: #dCdCdC;
}
td:hover {
	background-color: #eeeeee;
}

table { 
	border-collapse: collapse; 
}
caption {
	color: var(--tc);
	caption-side: bottom;
}

.Dbackg {
	transition: background-color 0.5s;
	background-color: #333334;
	--tc: #DDD;
}
.Lbackg {
	transition: background-color 0.5s;
	background-color: #EFEFEE;
	--tc: #111;
}

p, h1, details, .top, .bottom, math {
	font-optical-sizing: auto;
	font-family: "Roboto Mono", monospace;
	font-style: normal;
	color: var(--tc);
}
p, details {
	font-size: 20px;
}

.tooltip{
  position: relative;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 170px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	font-optical-sizing: auto;
	font-family: "Roboto Mono", monospace;
	font-style: normal;

  /* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -90px;

  /* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.needsOperator {
	background-color: #FFFFCC77;
}

.nope {
	background-color: #00000022;
}

.numspeak, .example::after, .frac {
	border-radius: 3px;
	background-color: #00000044;
	font-family: "Courier New", monospace;
	font-weight: bold;
}

.frac {
	color: var(--tc);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
	font-optical-sizing: auto;
	font-family: "Roboto Mono", monospace;
	font-style: normal;
	font-size: 20px;
	background-color: #0000;
}
.frac span.bottom {
	border-radius: 0px;
    border-top: 2px solid;
}
.frac span.symbol {
    display: none;
} 

.example {
	display: inline;
}

.example:not(:hover)::after {
	content: "?";
}

.example:hover::after {
	content: var(--translation);
}