@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
.subLink {
	font-family: "Iceland", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}

.Da {
	color: #AAAAFF;
}

.La {
	color: #1111DD;
}

.Dbackg {
	transition: background-color 0.5s;
	background-color: #333333;
}

.Lbackg {
	transition: background-color 0.5s;
	background-color: #EFEFEE;
}

div {
	width: fit-content;
	padding: 15px;
	border: 5px solid #222222;
	border-radius: 10px;
	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}