@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
.subLink {
	font-family: "Iceland", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}
a {
	text-decoration: none;
	font-smooth: never;
}

.Da {
	color: #AAAAFF;
}
.Da:hover {
	color: #AADDDD;
}

.La {
	color: #11c;
}
.La:hover {
	color: #1aa;
}

.Dbackg {
	transition: background-color 0.5s;
	background-color: #333333;
}

.Lbackg {
	transition: background-color 0.5s;
	background-color: #EFEFEE;
}

div {
	line-height: 1.2;
	
	width: fit-content;
	padding: 15px;
	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.Ldiv {
	transition: all 0.5s;
	border: 5px solid #DDDDDD;
	border-radius: 0px;
}
.Ddiv {
	transition: all 0.5s;
	border: 5px solid #222222;
	border-radius: 10px;
}