.Dbackg{
    background-color: #333;
    --text-col: #FFF;
    --link-col: #AAF;
}

.Lbackg{
    background-color: #E5E5E0;
    --text-col: #000;
    --link-col: #339;
}

body {
    transition: all 0.4s;
}

.tL{
    position:fixed;
    left: 10px;
    top: 10px;
    z-index: 9999;
}

p, h1, hr {
    color: var(--text-col);
    font-family:'Courier New', Courier, monospace;
}

a, a:visited, a:hover {
    color: var(--link-col) !important;
}

img {
    mix-blend-mode: difference;
}